*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #1A0B2E;
}
nav{
    width: 100%;
    max-width: 1600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
.logo{
    max-width: 219px;
    color: #FFFFFF;
    font-size: 1.8rem;
}
nav .menu{
    display:flex;
    list-style-type: none;
    gap: 2rem;
}
nav .menu a{    
    color:#FFFFFF;
    font-size: 1rem;
    text-decoration: none;
    line-height: 120%;
    font-weight: 500;
}
.btn{
    background-color: linear-gradient
    (90deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 10000px;
    padding: 12px 18px;
    font-size: 1rem;
    color: #FFFFFF;
}
#banner{
    border: 1px solid red;
    width: 100%;
    min-height:  80vh;
    max-width: 1600px;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 550px;
    margin: 101px auto;
    text-align: center;
}
.banner-img{
    background-image: url(../assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
    width: 100%;
    max-width: 350px;
    margin-bottom: 40px;
}
.banner-content h1{
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-content p{
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 24px;
}
.banner-btn{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.green-btn{
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background-color: transparent;
    padding: 12px 20px;
}
#about{
    padding: 50px 200px 120px;
    background-color: #1A0B2E;
}
.about-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.about-container hr{
    max-width: 1200px;
    margin: 80px auto;
}
.about-heading{
    max-width: 1200px;
    text-align: center;
}
.about-heading h2 ,
.choose-container h2{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}
.about-heading p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FFFFFF;
}
.about-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info-card{
    gap: 80px;
}    
.info-card h4{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}
.info-card p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
#choose{
    background-color: #230E3D;
    padding: 120px 200px;
}    