*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #1A0B2E;
}
nav{
    width: 100%;
    max-width: 1600;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 200px;
}
.logo{
    color: #FFFFFF;
    font-size: 2rem;
}
ul{
    display:flex
    text-decoration: none;
}
.btn{
    background-color: linear-gradient
    (90deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 10000px;
    padding: 12px 16px;
    font-size: 1rem;
}