*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #1A0B2E;
}
nav{
    width: 100%;
    max-width: 1600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
.logo{
    max-width: 219px;
    color: #FFFFFF;
    font-size: 1.8rem;
}
nav .menu{
    display:flex;
    list-style-type: none;
    gap: 2rem;
}
nav .menu a{    
    color:#FFFFFF;
    font-size: 1rem;
    text-decoration: none;
    line-height: 120%;
    font-weight: 500;
}
.linear{
    background: linear-gradient(50deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1)100%);
}
.linear-t{
    background: linear-gradient(50deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1)100%);
    background-clip: text;
    color: transparent;
    display: inline-block
}
.btn{
    border-radius: 10000px;
    padding: 12px 18px;
    font-size: 1rem;
    color: #FFFFFF;
}
#banner{
    width: 100%;
    min-height:  80vh;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 101px auto;
    text-align: center;

}
.microphone{
    position: absolute;
    left: 47%;
    top: 33%;
    transition: transform 1s;
}
.microphone:hover{
    transform: rotate(360deg) scale(0.5) translate(350px) ;
}   
.badge{
    font-size: 1.125rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
    color: #1A0B2E;
    background-color: #00FF88;
    position: absolute;
    left: 53%;
    top: 25%;
}
.banner-img{
    background-image: url(../assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
    width: 100%;
    max-width: 350px;
    margin-bottom: 40px;
}
.banner-content h1{
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-content p{
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 24px;
}
.banner-btn{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.green-btn{
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background-color: transparent;
    padding: 12px 20px;
}
.btn:hover{
    color: #33067cb2;
}
.green-btn:hover{
    background-color: #d5d6cb;
}
#about{
    padding: 50px 200px 120px;
    background-color: #1A0B2E;
}
.about-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.about-container hr{
    max-width: 1200px;
    margin: 80px auto;
}
.about-heading{
    max-width: 1200px;
    text-align: center;
}
.about-heading h2 ,
.choose-container h2 ,
.featured-episodes h2 ,
.featured-host h2{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}
.about-heading p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FFFFFF;
}
.about-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info-card{
    gap: 80px;
}    
.info-card h4{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}
.info-card p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
#choose{
    background-color: #230E3D;
    padding: 120px 200px;
}    
.card-container{
    max-width: 1200px;
    display: grid;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}
.choose-card{
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.choose-card:hover{
  transform: translateY(-5px);
  background: #3a215a; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
    
.wide-card{
    grid-column: span 2;
}
.long-card{
    grid-row: span 2;
}
.normal-card{
    grid-column: span 1;
    grid-row: span 1;
}
.choose-card img{
    max-width: 60px;
    margin-bottom: 16px;
}
.choose-card h4 ,
.episodes-card h4 ,
.host-info h4{
    margin-bottom: 16px;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
}
.choose-card p ,
.episodes-card p ,
.featured-host p ,
.social-link p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
#featured{
    background-color: #1A0B2E;
    padding: 120px 200px;
}
.featured-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;

}
.featured-episodes{
    margin-bottom: 120px;
}
.featured-episodes-card{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.episodes-card{
    max-width: 380px;
    background-color: #250D44;
    border-radius: 20px;
    
}
.episodes-card iframe{
    width: 100%;
    border-radius: 20px 20px 0 0 ;
}
.featured-host-intro{
    max-width: 1200px;
    background-color: #351165;
    border-radius: 40px;
    padding: 48px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.social-icon{
    display: flex;
    justify-items:flex-start;
    list-style-type: none;
    text-decoration: none;
    gap: 8px;
    
}
.social-icon li a{
    border: 1px solid rgba(192, 92, 192, 0.671);
    background-color: transparent;
    width: 16px;
    padding: 12px 11px 10px;
    border-radius: 50%;
}
#foot{
    background-image: url(../assets/footer-bg.png);
    width: 100%;
}
.social-link{
    max-width: 1360px;
    padding: 120px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.social-link h1{
    font-size: 5rem;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.social-link ul{
    max-width: 544px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    gap: 40px;
}
.social-link li{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
    gap: 40px;
}


@media screen and (max-width:576px){   
    .card-container {
        grid-template-columns: 1fr; 
    }
    .tall-card, 
    .wide-card {
        grid-row: span 1;
        grid-column: span 1;
    }
    #choose {
        padding: 40px 20px;
    }
}    
    



    


